.Button{
    width: 40px;
    height: 40px;
}

.Inputs{
    margin-top: 50%;
}

.Input {
    margin: 20px;
}

.in {
    width: 200px;
    height: 25px;
}

.TitleText{
    size: 50px;
    color: saddlebrown;
}

.slide{
    width: 70%;
}

.Flag {
    flex: 2;
    border: 2px;
}

.container {
    display: flex;
}



